@media only screen and (max-width: 575px) {

/*------- Common CSS Starts -------*/

p { font-size: 1rem; }

/*------- Common CSS Ends -------*/

/*------- Coming Soon Page Starts -------*/

.box-coming-soon-info > p { font-size: 1.4rem; }
.box-coming-soon-info > h1 { font-size: 1.8rem; padding: 0 15px; }
.box-coming-soon-info > h4,
.coming-soon-box-contact-info-heading > h5,
.coming-soon-form { padding: 0 15px; }
.box-coming-soon-info > h4 { font-size: 1.2rem; }
.coming-soon-box-contact-info { padding: 30px 15px; }
.coming-soon-box-contact-info-heading > h2 { font-size: 1.8rem; }
.coming-soon-box-contact-info-heading > h5 { font-size: 1rem; }

/*------- Coming Soon Page Ends -------*/

/*------- Home Page Starts -------*/


/*------- Home Page Ends -------*/
  
}
  
@media only screen and (min-width: 576px) and (max-width: 767px) {
  
/*------- Common CSS Starts -------*/


/*------- Common CSS Ends -------*/

/*------- Coming Soon Page Starts -------*/

.box-coming-soon-info > p { font-size: 1.4rem; }
.box-coming-soon-info > h1 { font-size: 1.8rem; padding: 0 15px; }
.box-coming-soon-info > h4,
.coming-soon-box-contact-info-heading > h5,
.coming-soon-form { padding: 0 15px; }
.box-coming-soon-info > h4 { font-size: 1.2rem; }
.coming-soon-box-contact-info { padding: 30px 15px; }
.coming-soon-box-contact-info-heading > h2 { font-size: 1.8rem; }
.coming-soon-box-contact-info-heading > h5 { font-size: 1rem; }

/*------- Coming Soon Page Ends -------*/

/*------- Home Page Starts -------*/


/*------- Home Page Ends -------*/
  
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  
/*------- Common CSS Starts -------*/


/*------- Common CSS Ends -------*/

/*------- Coming Soon Page Starts -------*/

.box-coming-soon-info > p { font-size: 2rem; }
.box-coming-soon-info > h1 { font-size: 2.4rem; padding: 0 15px; }
.box-coming-soon-info > h4,
.coming-soon-box-contact-info-heading > h5,
.coming-soon-form { padding: 0 15px; }
.coming-soon-box-contact-info { padding: 30px 15px; }

/*------- Coming Soon Page Ends -------*/

/*------- Home Page Starts -------*/


/*------- Home Page Ends -------*/
  
}
  
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  
/*------- Common CSS Starts -------*/


/*------- Common CSS Ends -------*/

/*------- Coming Soon Page Starts -------*/

.box-coming-soon-info > p { font-size: 2rem; }
.box-coming-soon-info > h1 { font-size: 2.4rem; padding: 0 15px; }
.box-coming-soon-info > h4,
.coming-soon-box-contact-info-heading > h5,
.coming-soon-form { padding: 0 15px; }
.coming-soon-box-contact-info { padding: 30px 15px; }

/*------- Coming Soon Page Ends -------*/

/*------- Home Page Starts -------*/


/*------- Home Page Ends -------*/
  
}